

{% extends 'layouts/admin.html' %} {% load static %} {% load i18n %} 
{% block title %}{% translate "Product List" %}{% endblock title %}
{% block content %}
<main>
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-fluid px-4">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="list"></i></div>
                            {% translate "Product List" %}
                        </h1>
                    </div>
                    <div class="col-12 col-xl-auto mb-3">
                        <a class="btn btn-sm btn-light text-primary" href="{% url 'administration:store-product-create' %}">
                            <i class="me-1" data-feather="plus"></i>
                            {% translate "Add Product" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container-fluid px-4">
        {% include 'components/messages.html' with messages=messages %}
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <form method="GET"> 
                            <div class="mb-3">
                                <input type="search" name="search" value="{{request.GET.search}}" class="form-control" placeholder="{% translate 'Search' %}">
                            </div>
                        </form>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover entry-table ">
                                <thead>
                                    <tr>
                                        <th>
                                            {% translate "Name" %}
                                            {% include "components/tables/order-button.html" with orderBy='name' route='administration:store-product-list' %}
                                        </th>
                                        <th>
                                            {% translate "SKU" %}
                                            {% include "components/tables/order-button.html" with orderBy='sku' route='administration:store-product-list' %}
                                        </th>
                                        <th>{% translate "Cover Image" %}</th>
                                        <th>
                                            {% translate "Price" %}
                                            {% include "components/tables/order-button.html" with orderBy='regular_price' route='administration:store-product-list' %}
                                        </th>
                                        <th>
                                            {% translate "Discount" %}
                                            {% include "components/tables/order-button.html" with orderBy='discount' route='administration:store-product-list' %}
                                        </th>
                                        <th>
                                            {% translate "Category" %}
                                            {% include "components/tables/order-button.html" with orderBy='category' route='administration:store-product-list' %}
                                        </th>
                                        <th>
                                            {% translate "Status" %}
                                            {% include "components/tables/order-button.html" with orderBy='status' route='administration:store-product-list' %}
                                        </th>
                                        <th>
                                            {% translate "Updated At" %}
                                            {% include "components/tables/order-button.html" with orderBy='updated_at' route='administration:store-product-list' %}
                                        </th>                            
                                        <th>{% translate "Actions" %}</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>
                                            {% translate "Name" %}
                                            {% include "components/tables/order-button.html" with orderBy='name' route='administration:store-product-list' %}
                                        </th>
                                        <th>
                                            {% translate "SKU" %}
                                            {% include "components/tables/order-button.html" with orderBy='sku' route='administration:store-product-list' %}
                                        </th>
                                        <th>{% translate "Cover Image" %}</th>
                                        <th>
                                            {% translate "Price" %}
                                            {% include "components/tables/order-button.html" with orderBy='regular_price' route='administration:store-product-list' %}
                                        </th>
                                        <th>
                                            {% translate "Discount" %}
                                            {% include "components/tables/order-button.html" with orderBy='discount' route='administration:store-product-list' %}
                                        </th>
                                        <th>
                                            {% translate "Category" %}
                                            {% include "components/tables/order-button.html" with orderBy='category' route='administration:store-product-list' %}
                                        </th>
                                        <th>
                                            {% translate "Status" %}
                                            {% include "components/tables/order-button.html" with orderBy='status' route='administration:store-product-list' %}
                                        </th>
                                        <th>
                                            {% translate "Updated At" %}
                                            {% include "components/tables/order-button.html" with orderBy='updated_at' route='administration:store-product-list' %}
                                        </th>                            
                                        <th>{% translate "Actions" %}</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for product in products %}
                                    <tr>
                                        <td>{{product.name}}</td>
                                        <td>{{product.sku|default:""}}</td>
                                        <td><img width="64" height="64" src="{% if product.image_feature %}{{product.image_feature.0.image.url}}{% else %}{% static 'images/main/products/default.png' %}{% endif %}" alt="{{product.name}}"></td>
                                        <td>{{product.regular_price}}</td>
                                        <td>{{product.discount}}%</td>
                                        <td><a href="{% url 'administration:store-category-update' pk=product.category.id %}">{{product.category}}</a></td>
                                        <td>
                                            {% include "components/admin/status-button.html" with is_active=product.is_active %}
                                        </td>
                                        <td>{{product.updated_at|date:"d.m.Y"}}</td>
                                        <td>
                                            <a href="{% url 'administration:store-product-detail' pk=product.pk %}" class="btn btn-datatable btn-icon btn-transparent-dark me-2"><i data-feather="file"></i></a>
                                            <a href="{% url 'administration:store-product-update' pk=product.pk %}" class="btn btn-datatable btn-icon btn-transparent-dark me-2"><i data-feather="edit"></i></a>
                                            <form class="delete-form" action="{% url 'administration:store-product-delete' pk=product.pk %}" method="POST">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-datatable btn-icon btn-transparent-dark"><i data-feather="trash-2"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% include "components/admin/pagination.html" with pagination=products %}
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</main>
{% endblock content %}





