{% extends 'layouts/default.html' %} {% load static %} {% block content %}
<main class="main-area fix">
  {%include "components/breadcrumb.html" with title='Product' home_title='Home'%}

  <div class="inner-shop-area">
    <div class="container">
      <div class="woocommerce-notices-wrapper"></div>
      <div
        id="product-80"
        class="row product type-product post-80 status-publish first instock product_cat-fat-burners product_tag-energy-support product_tag-skin-nails has-post-thumbnail shipping-taxable purchasable product-type-simple"
      >
        <div class="col-lg-6">
          <div class="inner-shop-details-flex-wrap">
            <div
              id=""
              class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-{{product.images|length}} images inner-shop-details-img-wrap"
              data-columns="{{product.images|length}}"
              style="opacity: 0; transition: opacity 0.25s ease-in-out"
            >
              <figure class="woocommerce-product-gallery__wrapper">
                <div
                  data-thumb="{{product.image_feature.0.image.url}}"
                  data-thumb-alt=""
                  class="woocommerce-product-gallery__image"
                >
                  <a href="{{product.image_feature.0.image.url}}"
                    ><img
                      width="605"
                      height="580"
                      src="{{product.image_feature.0.image.url}}"
                      class="wp-post-image"
                      alt=""
                      decoding="async"
                      loading="lazy"
                      title="shop-details-thumb1"
                      data-caption=""
                      data-src="{{product.image_feature.0.image.url}}"
                      data-large_image="{{product.image_feature.0.image.url}}"
                      data-large_image_width="605"
                      data-large_image_height="580"
                      srcset="
                        {{product.image_feature.0.image.url}} 605w,
                        {{product.image_feature.0.image.url}} 300w
                      "
                      sizes="(max-width: 605px) 100vw, 605px"
                  /></a>
                </div>

                {% for product_image in product.images %}
                <div
                  data-thumb="{{product_image.image.url}}"
                  data-thumb-alt=""
                  class="woocommerce-product-gallery__image"
                >
                  <a href="{{product_image.image.url}}"
                    ><img
                      width="605"
                      height="580"
                      src="{{product_image.image.url}}"
                      class=""
                      alt=""
                      title="shop-details-thumb{{forloop.counter}}"
                      data-caption=""
                      data-src="{{product_image.image.url}}"
                      data-large_image="{{product_image.image.url}}"
                      data-large_image_width="605"
                      data-large_image_height="580"
                      srcset="
                        {{product_image.image.url}} 605w,
                        {{product_image.image.url}} 300w
                      "
                      sizes="(max-width: 605px) 100vw, 605px"
                  /></a>
                </div>
                {% endfor %}
              </figure>
            </div>

           
          </div>
        </div>

        <div class="col-lg-6">
          <div class="summary entry-summary inner-shop-details-content">
            <h1 class="product_title title entry-title">{{product.name}}</h1>
            <div class="inner-shop-details-price">
              {% if product.discount %}
              <del aria-hidden="true">
                <span class="woocommerce-Price-amount amount"
                  ><span class="woocommerce-Price-currencySymbol">&#036;</span
                  >{{product.regular_price}}</span
                >
              </del>
              <ins>
                <span class="woocommerce-Price-amount amount"
                  ><span class="woocommerce-Price-currencySymbol">&#036;</span
                  >{{product.discount_price}}</span
                >
              </ins>
              {% else %}
              <span class="woocommerce-Price-amount amount"
                ><span class="woocommerce-Price-currencySymbol">&#036;</span
                >{{product.regular_price}}</span
              >
              {% endif %}
            </div>
            <div class="inner-shop-perched-info">
              <div
                class="suxnix-cart-action"
              >
                <div class="quantity">
                  <label class="screen-reader-text" for="quantity_64285501d87a0"
                    >{{product.name}}</label
                  >
                  <div class="qty_button minus">-</div>
                  <input
                    type="text"
                    id="quantity"
                    class="input-text qty text"
                    step="1"
                    min="1"
                    max="{{product.product_stock.units}}"
                    name="quantity"
                    value="1"
                    title="Qty"
                    size="4"
                    placeholder=""
                    inputmode="numeric"
                    autocomplete="off"
                  />
                  <div class="qty_button plus">+</div>
                </div>

                <button
                  id="addToCartButton"
                  class="add_to_cart_button btn btn-primary"
                  type="submit"
                  name="add-to-cart"
                  data-product_id="{{product.id}}"
                  class="cart-btn product-quantity-button"
                >
                  Add to cart
                </button>

                <div
                  class="tinv-wraper woocommerce tinv-wishlist tinvwl-after-add-to-cart"
                  data-tinvwl_product_id="80"
                >
                  <div class="tinv-wishlist-clear"></div>
                  <a
                    role="button"
                    tabindex="0"
                    aria-label="Add to Wishlist"
                    class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-after"
                    data-tinv-wl-list="[]"
                    data-tinv-wl-product="80"
                    data-tinv-wl-productvariation="0"
                    data-tinv-wl-productvariations="[0]"
                    data-tinv-wl-producttype="simple"
                    data-tinv-wl-action="add"
                    ><span class="tinvwl_add_to_wishlist-text"
                      >Add to Wishlist</span
                    ></a
                  >
                  <div class="tinv-wishlist-clear"></div>
                  <div class="tinvwl-tooltip">Add to Wishlist</div>
                </div>
              </div>
            </div>

            <div
              class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart"
              data-tinvwl_product_id="80"
            >
              <div class="tinv-wishlist-clear"></div>
              <a
                role="button"
                tabindex="0"
                aria-label="Add to Wishlist"
                class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-after"
                data-tinv-wl-list="[]"
                data-tinv-wl-product="80"
                data-tinv-wl-productvariation="0"
                data-tinv-wl-productvariations="[0]"
                data-tinv-wl-producttype="simple"
                data-tinv-wl-action="add"
                ><span class="tinvwl_add_to_wishlist-text"
                  >Add to Wishlist</span
                ></a>
              <div class="tinv-wishlist-clear"></div>
              <div class="tinvwl-tooltip">Add to Wishlist</div>
            </div>
            <div class="inner-shop-details-bottom">
              {% if product.weight %}
              <div>
                <b>Weight :</b> {{product.weight}}
              </div>
              {% endif %}

              <div class="posted_in">
                <b>Category :</b>
                <a
                  href="{% url 'store:category-products' category_slug=product.category.slug %}"
                  rel="tag"
                  >{{product.category.name}}</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="woocommerce-tabs wc-tabs-wrapper product-desc-wrap">
            <ul class="tabs wc-tabs nav list-wrap nav-tabs" role="tablist">
              <li
                class="description_tab nav-item"
                id="tab-title-description"
                role="tab"
                aria-controls="tab-description"
              >
                <a href="#tab-description" class="nav-link"> Description </a>
              </li>
            </ul>
            <div
              class="tp-content-tab woocommerce-Tabs-panel woocommerce-Tabs-panel--description panel entry-content wc-tab"
              id="tab-description"
              role="tabpanel"
              aria-labelledby="tab-title-description"
            >
              <h2>Description</h2>

              <div class="product-desc-content">
                <h4 class="title">The true strength of Suxnix :</h4>
                <p>{{product.description|safe}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% comment %}
      <div class="related-products-area">
        <div class="related-products-wrap">
          <h2 class="title">Related products</h2>

          <div class="row">
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <div class="suxnix-product-main">
                <div class="home-shop-item inner-shop-item">
                  <div class="home-shop-thumb">
                    <a href="../seriour-mass-2kg/index.html"
                      ><img
                        width="605"
                        height="580"
                        src="../../wp-content/uploads/2022/09/shop-details-thumb09.png"
                        class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                        alt=""
                        decoding="async"
                        srcset="
                          https://themegenix.net/wp/suxnix/wp-content/uploads/2022/09/shop-details-thumb09.png         605w,
                          https://themegenix.net/wp/suxnix/wp-content/uploads/2022/09/shop-details-thumb09-300x288.png 300w
                        "
                        sizes="(max-width: 605px) 100vw, 605px"
                    /></a>

                    <div class="on-sale-wrap"></div>
                  </div>

                  <div class="home-shop-content">
                    <div class="shop-item-cat">
                      <a href="../../product-category/fat-burners/index.html"
                        >Fat Burners</a
                      >
                    </div>
                    <h4 class="title">
                      <a href="../seriour-mass-2kg/index.html"
                        >SERIOUR MASS 2kg</a
                      >
                    </h4>
                    <div class="home-shop-price">
                      <span class="price"
                        ><span class="woocommerce-Price-amount amount"
                          ><bdi
                            ><span class="woocommerce-Price-currencySymbol"
                              >&#36;</span
                            >24.99</bdi
                          ></span
                        ></span
                      >
                    </div>
                    <div class="home-shop-rating">
                      <div
                        class="details-rating shop-single-rating"
                        title="Rating 0 out of 5"
                      >
                        <i class="far fa-star"></i><i class="far fa-star"></i
                        ><i class="far fa-star"></i><i class="far fa-star"></i
                        ><i class="far fa-star"></i
                        ><span class="rating-count">( 0 out of 5 )</span>
                      </div>
                    </div>
                    <div class="shop-content-bottom">
                      <a
                        href="indexb0be.html?add-to-cart=77"
                        data-quantity="1"
                        class="add-cart-btn cart-button icon-btn product_type_simple add_to_cart_button ajax_add_to_cart"
                        data-product_id="77"
                        data-product_sku="QZX8VG9"
                        aria-label="Add &ldquo;SERIOUR MASS 2kg&rdquo; to your cart"
                        rel="nofollow"
                        ><i class="flaticon-shopping-cart-1"></i
                      ></a>
                      <a
                        href="../../checkout/indexb0be.html?add-to-cart=77"
                        class="btn btn-two"
                        >Buy Now</a
                      >
                    </div>
                  </div>
                </div>
                <div
                  class="tinv-wraper woocommerce tinv-wishlist tinvwl-after-add-to-cart tinvwl-loop-button-wrapper"
                  data-tinvwl_product_id="77"
                >
                  <div class="tinv-wishlist-clear"></div>
                  <a
                    role="button"
                    tabindex="0"
                    aria-label="Add to Wishlist"
                    class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-after tinvwl-loop"
                    data-tinv-wl-list="[]"
                    data-tinv-wl-product="77"
                    data-tinv-wl-productvariation="0"
                    data-tinv-wl-productvariations="[0]"
                    data-tinv-wl-producttype="simple"
                    data-tinv-wl-action="add"
                    ><span class="tinvwl_add_to_wishlist-text"
                      >Add to Wishlist</span
                    ></a
                  >
                  <div class="tinv-wishlist-clear"></div>
                  <div class="tinvwl-tooltip">Add to Wishlist</div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-sm-6">
              <div class="suxnix-product-main">
                <div class="home-shop-item inner-shop-item">
                  <div class="home-shop-thumb">
                    <a href="../antiaging-and-longevity/index.html"
                      ><img
                        width="605"
                        height="580"
                        src="../../wp-content/uploads/2022/09/shop-details-thumb03.png"
                        class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                        alt=""
                        decoding="async"
                        loading="lazy"
                        srcset="
                          https://themegenix.net/wp/suxnix/wp-content/uploads/2022/09/shop-details-thumb03.png         605w,
                          https://themegenix.net/wp/suxnix/wp-content/uploads/2022/09/shop-details-thumb03-300x288.png 300w
                        "
                        sizes="(max-width: 605px) 100vw, 605px"
                    /></a>

                    <div class="on-sale-wrap">
                      <span class="onsale">Sale!</span>
                    </div>
                  </div>

                  <div class="home-shop-content">
                    <div class="shop-item-cat">
                      <a href="../../product-category/protein/index.html"
                        >Protein</a
                      >
                    </div>
                    <h4 class="title">
                      <a href="../antiaging-and-longevity/index.html"
                        >Antiaging and Longevity</a
                      >
                    </h4>
                    <div class="home-shop-price">
                      <span class="price"
                        ><del aria-hidden="true"
                          ><span class="woocommerce-Price-amount amount"
                            ><bdi
                              ><span class="woocommerce-Price-currencySymbol"
                                >&#36;</span
                              >39.99</bdi
                            ></span
                          ></del
                        >
                        <ins
                          ><span class="woocommerce-Price-amount amount"
                            ><bdi
                              ><span class="woocommerce-Price-currencySymbol"
                                >&#36;</span
                              >19.99</bdi
                            ></span
                          ></ins
                        ></span
                      >
                    </div>
                    <div class="home-shop-rating">
                      <div
                        class="details-rating shop-single-rating"
                        title="Rating 0 out of 5"
                      >
                        <i class="far fa-star"></i><i class="far fa-star"></i
                        ><i class="far fa-star"></i><i class="far fa-star"></i
                        ><i class="far fa-star"></i
                        ><span class="rating-count">( 0 out of 5 )</span>
                      </div>
                    </div>
                    <div class="shop-content-bottom">
                      <a
                        href="index70f8.html?add-to-cart=79"
                        data-quantity="1"
                        class="add-cart-btn cart-button icon-btn product_type_simple add_to_cart_button ajax_add_to_cart"
                        data-product_id="79"
                        data-product_sku="QZX8VGF"
                        aria-label="Add &ldquo;Antiaging and Longevity&rdquo; to your cart"
                        rel="nofollow"
                        ><i class="flaticon-shopping-cart-1"></i
                      ></a>
                      <a
                        href="../../checkout/index70f8.html?add-to-cart=79"
                        class="btn btn-two"
                        >Buy Now</a
                      >
                    </div>
                  </div>
                </div>
                <div
                  class="tinv-wraper woocommerce tinv-wishlist tinvwl-after-add-to-cart tinvwl-loop-button-wrapper"
                  data-tinvwl_product_id="79"
                >
                  <div class="tinv-wishlist-clear"></div>
                  <a
                    role="button"
                    tabindex="0"
                    aria-label="Add to Wishlist"
                    class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-after tinvwl-loop"
                    data-tinv-wl-list="[]"
                    data-tinv-wl-product="79"
                    data-tinv-wl-productvariation="0"
                    data-tinv-wl-productvariations="[0]"
                    data-tinv-wl-producttype="simple"
                    data-tinv-wl-action="add"
                    ><span class="tinvwl_add_to_wishlist-text"
                      >Add to Wishlist</span
                    ></a
                  >
                  <div class="tinv-wishlist-clear"></div>
                  <div class="tinvwl-tooltip">Add to Wishlist</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endcomment %}
    </div>
  </div>
</main>
{% endblock content %}
