{% load i18n %}
<div role="form" class="wpcf7" id="contact-form" lang="en-US" dir="ltr">
  <form method="POST" class="wpcf7-form init">
    {% csrf_token %} 
    {% include 'components/messages.html' with messages=messages %}
    <div class="contact-form">
      <div class="row">
        <div class="col-md-6">
          <div class="form-grp">
            <label for="{{form.name.id_for_label}}">{{form.name.label}}</label>
            <span class="contact-form-control-wrap" data-name="your-name"
              >{{form.name}}</span
            >
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-grp">
            <label for="{{form.email.id_for_label}}"
              >{{form.email.label}}</label
            >
            <span class="contact-form-control-wrap" data-name="your-email"
              >{{form.email}}</span
            >
          </div>
        </div>
        <div class="form-grp">
          <span class="contact-form-control-wrap" data-name="your-subject">
            <label for="{{form.subject.id_for_label}}"
              >{{form.subject.label}}</label
            >
            {{form.subject}}</span
          >
        </div>
        <div class="form-grp">
          <label for="{{form.message.id_for_label}}"
            >{{form.message.label}}</label
          >
          <span class="contact-form-control-wrap" data-name="your-message">
            {{form.message}}
          </span>
        </div>
        <div class="form-btn">
          <button
            class="wpcf7-form-control has-spinner btn"
            type="submit"
          >
            {% translate "Send" %}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
