{% extends 'layouts/admin.html' %} {% load static %} {% load i18n %} {% block content %}
{% translate "Post" as subject %}

<main>
  <header
    class="page-header page-header-compact page-header-light border-bottom bg-white mb-4"
  >
    <div class="container-fluid px-4">
      <div class="page-header-content">
        <div class="row align-items-center justify-content-between pt-3">
          <div class="col-auto mb-3">
            <h1 class="page-header-title">
              <div class="page-header-icon">
                <i data-feather="file-plus"></i>
              </div>
              {% blocktranslate %}Create {{subject}}{% endblocktranslate %}
            </h1>
          </div>
          <div class="col-12 col-xl-auto mb-3">
            <a
              class="btn btn-sm btn-light text-primary"
              href="{% url 'administration:post-list' %}"
            >
              <i class="me-1" data-feather="arrow-left"></i>
              {% blocktranslate %}Back to {{subject}} List{% endblocktranslate %}
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid px-4">
    {% include 'components/messages.html' with messages=messages %}
    <form method="post" enctype="multipart/form-data">
      <div class="row gx-4">
        <div class="col-lg-9">
          {% csrf_token %} {% include "components/form/hidden-fields.html" with hidden_fields=form.hidden_fields %} 
          {{form.non_form_errors}} 
          {{ form.media }}
          <div class="card mb-4">
            <div class="card-header">{{ form.title.label }}</div>
            <div class="card-body">
              {{ form.title }} {{ form.title.errors }}
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-header">{{ form.description.label }}</div>
            <div class="card-body">
              {{ form.description }} {{ form.description.errors }}
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-header">{{ form.cover_image.label }}</div>
            <div class="card-body">
              {{form.cover_image}} {{ form.cover_image.errors }}
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card card-header-actions">
            <div class="card-header">
              {% translate "Publish" %}
              <i
                class="text-muted"
                data-feather="info"
                data-bs-toggle="tooltip"
                data-bs-placement="left"
                title="After submitting, your post will be published if you approve"
              ></i>
            </div>
            <div class="card-body">
              <div class="d-grid">
                <button type="submit" class="fw-500 btn btn-success">
                  {% translate "Save" %}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</main>
{% endblock content %}
