

{% extends 'layouts/admin.html' %} {% load static %} {% load i18n %} 
{% block title %}{% translate "Reset User's Password" %}{% endblock title %}
{% block content %}

<main>
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-xl px-4">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="user"></i></div>
                            {% translate "Reset User's Password" %}
                        </h1>
                    </div>
                    <div class="col-12 col-xl-auto mb-3">
                        <a class="btn btn-sm btn-warning text-dark" href="{% url 'administration:user-update' pk=user.pk %}">
                            <i class="me-1" data-feather="edit"></i>
                            {% translate "Edit User" %}
                        </a>
                        <a class="btn btn-sm btn-light text-primary" href="{% url 'administration:user-list' %}">
                            <i class="me-1" data-feather="arrow-left"></i>
                            {% translate "Back to User List" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container-xl px-4 mt-4">
        {% include 'components/messages.html' with messages=messages %}
        <div class="card mb-4">
            <div class="card-header">{% translate "Reset Password" %}</div>
            <div class="card-body">
                <form method="POST" action="{% url 'administration:user-password-change' pk=user.pk %}">
                    {% csrf_token %}
                    {% include "components/form/hidden-fields.html" with hidden_fields=form.hidden_fields %}
                    <div class="mb-3">
                        <label class="small mb-1">
                            {% translate "Username" %}: <b>{{user.username}}</b>
                        </label>
                    </div> 
                    <div class="mb-3">
                        <label class="small mb-1">
                            {% translate "Email" %}: <b>{{user.email}}</b>
                        </label>
                    </div> 
                    <div class="mb-3">
                        <label class="small mb-1">
                            {% translate "First Name" %}: <b>{{user.first_name}}</b>
                        </label>
                    </div> 
                    <div class="mb-3">
                        <label class="small mb-1">
                            {% translate "Last Name" %}: <b>{{user.last_name}}</b>
                        </label>
                    </div> 
                    <hr>
                    <div class="row g-3 mb-3">
                        <div class="col-12">
                            <label class="small">
                                {% translate "Example Password" %}: <b>{{example_password}}</b>
                            </label>
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="small mb-1" for="{{form.new_password1.id_for_label}}">
                                {{form.new_password1.label}}
                            </label>
                            {{form.new_password1}}
                            {{form.new_password1.errors}}
                            <i><small>{{form.new_password1.help_text}}</small></i>
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="small mb-1" for="{{form.new_password2.id_for_label}}">
                                {{form.new_password2.label}}
                            </label>
                            {{form.new_password2}}
                            {{form.new_password2.errors}}
                        </div>
                    </div>
                    {{form.non_field_errors}} 
                    {{form.non_form_errors}}
                    <button class="btn btn-sm btn-success" type="submit"><i class="me-1" data-feather="edit"></i> {% translate "Save" %}</button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock content %}














