{% if item.children %}
<li
  class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-has-children"
>
  <a href="{{item.route}}" aria-current="page">{{item.title}}</a>
  <ul class="sub-menu">
    {% for subItem in item.children %}
    {%include "components/navbar/navbar-item.html" with item=subItem %}
    {% endfor %}
  </ul>
</li>
{% else %}
<li
  class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item current_page_item menu-item-home"
>
  <a href="{{item.route}}" aria-current="page">{{item.title}}</a>
</li>
{% endif %}
