{% load static %}
<link
  rel="stylesheet"
  id="contact-form-7-css"
  href="{% static 'css/main/styles42f0.css' %}"
  type="text/css"
  media="all"
/>
<link
  rel="stylesheet"
  id="suxnix-custom-css"
  href="{% static 'css/main/suxnix-customae48.css' %}"
  type="text/css"
  media="all"
/>

<link
  rel="stylesheet"
  id="bootstrap-css"
  href="{% static 'css/main/bootstrap.minae48.css' %}"
  type="text/css"
  media="all"
/>
<link
  rel="stylesheet"
  id="animate-css"
  href="{% static 'css/main/animate.minae48.css' %}"
  type="text/css"
  media="all"
/>
<link
  rel="stylesheet"
  id="magnific-popup-css"
  href="{% static 'css/main/magnific-popupae48.css' %}"
  type="text/css"
  media="all"
/>
<link
  rel="stylesheet"
  id="font-awesome-free-css"
  href="{% static 'css/main/fontawesome-all.minae48.css' %}"
  type="text/css"
  media="all"
/>
<link
  rel="stylesheet"
  id="flaticon-css"
  href="{% static 'css/main/flaticonae48.css' %}"
  type="text/css"
  media="all"
/>
<link
  rel="stylesheet"
  id="slick-css"
  href="{% static 'css/main/slickae48.css' %}"
  type="text/css"
  media="all"
/>
<link
  rel="stylesheet"
  id="suxnix-default-css"
  href="{% static 'css/main/defaultae48.css' %}"
  type="text/css"
  media="all"
/>
<link
  rel="stylesheet"
  id="suxnix-core-css"
  href="{% static 'css/main/suxnix-coreae48.css' %}"
  type="text/css"
  media="all"
/>
<link
  rel="stylesheet"
  id="suxnix-unit-css"
  href="{% static 'css/main/suxnix-unitae48.css' %}"
  type="text/css"
  media="all"
/>
<link
  rel="stylesheet"
  id="suxnix-woo-css"
  href="{% static 'css/main/wooae48.css' %}"
  type="text/css"
  media="all"
/>
<link
  rel="stylesheet"
  id="suxnix-shop-css"
  href="{% static 'css/main/suxnix-shopae48.css' %}"
  type="text/css"
  media="all"
/>
<link
  rel="stylesheet"
  id="suxnix-responsive-css"
  href="{% static 'css/main/responsiveae48.css' %}"
  type="text/css"
  media="all"
/>
<link
  rel="stylesheet"
  id="elementor-frontend-css"
  href="{% static 'css/main/custom-frontend-lite.mindd25.css' %}"
  type="text/css"
  media="all"
/>
<link
  rel="stylesheet"
  id="elementor-post-6-css"
  href="{% static 'css/main/post-69904.css' %}"
  type="text/css"
  media="all"
/>
<link
  rel="stylesheet"
  id="elementor-global-css"
  href="{% static 'css/main/globald641.css' %}"
  type="text/css"
  media="all"
/>
<link
  rel="stylesheet"
  id="elementor-post-65-css"
  href="{% static 'css/main/post-65a325.css' %}"
  type="text/css"
  media="all"
/>
<link
  rel="stylesheet"
  id="google-fonts-1-css"
  href="https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;display=auto&amp;ver=6.2"
  type="text/css"
  media="all"
/>
<link
  rel="stylesheet"
  id="elementor-icons-tg-flat-icons-css"
  href="{% static 'css/main/flaticon8a54.css' %}"
  type="text/css"
  media="all"
/>
<link
  rel="icon"
  type="image/x-icon"
  href="{% static 'images/logo.png' %}"
  sizes="32x32"
/>
<link
  rel="icon"
  type="image/x-icon"
  href="{% static 'images/logo.png' %}"
  sizes="192x192"
/>
<link
  rel="apple-touch-icon"
  type="image/x-icon"
  href="{% static 'images/logo.png' %}"
/>
