{% load static %}
<script
  type="text/javascript"
  src="{% static 'js/vue.global.min.js' %}"
></script>
<script src="https://cdn.jsdelivr.net/npm/vue-demi"></script>
<script src="https://cdn.jsdelivr.net/npm/@vuelidate/core"></script>
<script src="https://cdn.jsdelivr.net/npm/@vuelidate/validators"></script>

<script
  type="text/javascript"
  src="{% static 'js/jquery.js' %}"
></script>
<script
  type="text/javascript"
  src="{% static 'js/main/jquery-migrate.js' %}"
></script>
<script
  type="text/javascript"
  src="{% static 'js/main/jquery.blockUI.js' %}"
></script>
<script
  type="text/javascript"
  src="{% static 'js/main/js.cookie.js' %}"
></script>
<script
  type="text/javascript"
  src="{% static 'js/main/bootstrap.js' %}"
></script>
<script
  type="text/javascript"
  src="{% static 'js/main/imagesloaded.js' %}"
></script>
<script
  type="text/javascript"
  src="{% static 'js/main/isotope.pkgd.js' %}"
></script>
<script
  type="text/javascript"
  src="{% static 'js/main/jquery.paroller.js' %}"
></script>
<script
  type="text/javascript"
  src="{% static 'js/main/jquery.easypiechart.js' %}"
></script>
<script
  type="text/javascript"
  src="{% static 'js/main/jquery.inview.js' %}"
  id="inview-min-js"
></script>
<script
  type="text/javascript"
  src="{% static 'js/main/jquery.easing.js' %}"
  id="easing-js-js"
></script>
<script
  type="text/javascript"
  src="{% static 'js/main/slick.js' %}"
></script>
<script type="text/javascript" src="{% static 'js/main/main.js' %}"></script>

<script
  type="text/javascript"
  src="{% static 'js/main/frontend-modules.js' %}"
></script>
<script
  type="text/javascript"
  src="{% static 'js/main/core.js' %}"
></script>
<script
  type="text/javascript"
  src="{% static 'js/main/elementor-frontend-js-before.js' %}"
></script>
<script
  type="text/javascript"
  src="{% static 'js/main/frontend.js' %}"
></script>

<script>  
  const productUrl = "{% url 'store:product-detail' category_slug='category_slug_value' product_slug='product_slug_value' %}"
</script>
<script src="{% static 'js/main/store.js' %}"></script>
<script src="{% static 'js/main/contact-form.js' %}"></script>
