{% extends 'layouts/admin.html' %} {% load static %} {% load i18n %} 
{% load l10n %}
{% block title %}{% translate "Order Details" %}{% endblock title %}
{% block content %}
<main>
  <header
    class="page-header page-header-compact page-header-light border-bottom bg-white mb-4"
  >
    <div class="container-fluid px-4">
      <div class="page-header-content">
        <div class="row align-items-center justify-content-between pt-3">
          <div class="col-auto mb-3">
            <h1 class="page-header-title">
              <div class="page-header-icon">
                <i data-feather="file-plus"></i>
              </div>
              {% translate "Order Details" %}
            </h1>
          </div>
          <div class="col-12 col-xl-auto mb-3">
            <a
              class="btn btn-sm btn-light text-primary"
              href="{% url 'administration:order-list' %}?page={{request.GET.prev_page|default:1}}"
            >
              <i class="me-1" data-feather="list"></i>
              {% translate "Back to Order List" %}
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid px-4">
        <div class="card mb-4">
            <div class="card-header">{% translate "Order Details" %}</div>
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-lg-5">
                  <ul class="list-group mb-4 order-details">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="fw-bold">{% translate "First Name" %}</span>
                      <span>{{order.first_name}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="fw-bold">{% translate "Last Name" %}</span>
                      <span>{{order.last_name}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="fw-bold">{% translate "Email" %}</span>
                      <span>{{order.email|default:''}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="fw-bold">{% translate "Address" %}</span>
                      <span>{{order.address}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="fw-bold">{% translate "City" %}</span>
                      <span>{{order.city}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="fw-bold">{% translate "Phone" %}</span>
                      <span>{{order.phone}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="fw-bold">{% translate "Total Paid" %}</span>
                      <span>{{order.total_paid}} &#8380;</span> 
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="fw-bold">{% translate "Refunded Payment" %}</span>
                      <span><span id="total_refund">{{order.total_refund}}</span> &#8380;</span> 
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="fw-bold">{% translate "Order Key" %}</span>
                      <span>{{order.order_key}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="fw-bold">{% translate "Payment Status" %}</span>
                      <span class="badge bg-{{order.payment_status_color}} rounded-pill">{{order.payment_status_value}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="fw-bold">{% translate "Created Date" %}</span>
                      <span>{{order.created_date}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="fw-bold">{% translate "Updated Date" %}</span>
                      <span>{{order.updated_date}}</span>
                    </li>
                  </ul>
                  <form method="post" id="order-form">
                  {% include 'components/messages.html' with messages=messages %}
                  {{ form.media }} 
                  {% csrf_token %}
                  <div class="card mb-4">
                    <div class="card-header">{% translate "Edit Order Details" %}</div>
                    <div class="card-body">
                      {% include "components/form/hidden-fields.html" with hidden_fields=form.hidden_fields %}
                      {{form.non_form_errors}}
                      <div class="mb-4">
                          <label class="mb-1" for="{{ form.notes.id_for_label }}">{{ form.notes.label }}</label>
                          {{ form.notes }} 
                          {{ form.notes.errors }}
                      </div>
                      <button class="btn btn-success" type="submit"><i class="me-1" data-feather="edit"></i> {% translate "Save" %}</button>
                    </div>
                  </div>
                  </form>
                </div>
                <div class="col-12 col-lg-7">
                  <div class="table-responsive mb-4">
                    <table class="table table-striped table-bordered entry-table">
                      <thead class="table-primary">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">{% translate "Product" %}</th>
                          <th scope="col">{% translate "Price" %} &#8380;</th>
                          <th scope="col">{% translate "Quantity" %}</th>
                          <th scope="col">{% translate "Subtotal" %} &#8380;</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for item in order.items.all %}
                        <tr>
                          <th scope="row">{{forloop.counter}}</th>
                          <td>
                            {% if item.product.id %}
                            <a href="{% url 'administration:store-product-update' pk=item.product.id %}">{{item.product.name}}</a>
                            {% else %}
                            {% translate "Deleted Product" %}
                            {% endif %}
                          </td>
                          <td>{{item.price}}</td>
                          <td>{{item.quantity}}</td>
                          <td>{{item.sub_total}}</td>
                        </tr>
                        {% endfor %}
                        <tr class="table-primary">
                          <th scope="row">#</th>
                          <th colspan="3">{% translate "Total" %}</th>
                          <th>{{order.total_paid}}</th>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-12">
                  <form id="delivery-form">
                    <div class="card mb-4">
                      <div class="card-header">{% translate "Edit Order Delivery Information" %}</div>
                      <div class="card-body">
                        {{ delivery_form.media }} 
                        <div class="mb-4">
                            <label class="mb-1" for="{{ delivery_form.courier_name.id_for_label }}">{{ delivery_form.courier_name.label }}</label>
                            {{ delivery_form.courier_name }}
                              <div id="{{delivery_form.courier_name.id_for_label}}_errors" class="invalid-feedback"></div> 
                        </div>
                        <div class="mb-4">
                          <label class="mb-1" for="{{ delivery_form.tracking_number.id_for_label }}">{{ delivery_form.tracking_number.label }}</label>
                          {{ delivery_form.tracking_number }}
                            <div id="{{delivery_form.tracking_number.id_for_label}}_errors" class="invalid-feedback"></div> 
                        </div>
                        <div class="mb-4">
                          <label class="mb-1" for="{{ delivery_form.delivery_status.id_for_label }}">{{ delivery_form.delivery_status.label }}</label>
                          {{ delivery_form.delivery_status }}
                            <div id="{{delivery_form.delivery_status.id_for_label}}_errors" class="invalid-feedback"></div> 
                        </div>
                        <div class="mb-4">
                          <label class="mb-1" for="{{ delivery_form.delivery_date.id_for_label }}">{{ delivery_form.delivery_date.label }}</label>
                          {{ delivery_form.delivery_date }}
                            <div id="{{delivery_form.delivery_date.id_for_label}}_errors" class="invalid-feedback"></div> 
                        </div>
                        <div class="mb-4">
                          <label class="mb-1">{% translate "Last Modified by" %}</label>
                          <input type="text" disabled class="form-control form-control-sm" value="{{ order.order_delivery.last_modified_by|default:'-' }}">
                        </div>
                        <button id="delivery_submit_btn" class="btn btn-success btn-disabled" type="submit">{% translate "Save" %}</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-12 col-md-6">
                  <div class=" card mb-4">
                    <div class="card-header">{% translate "Refunds" %}</div>
                    <div class="card-body">
                      <ul id="orderRefundList" class="list-group">
                        {% for refund in order.refunds.all %}
                        <li class="list-group-item list-group-item-action">
                          <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1">{{refund.amount}} &#8380;</h6>
                            <small>{{refund.created_date}}</small>
                          </div>
                          <p class="mb-1">{{refund.created_by_name}}</p>
                          <small>{{refund.reason}}</small>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <form method="post" id="refund-form">
                    <div class=" card mb-4">
                      <div class="card-header">{% translate "Refund Order" %}</div>
                      <div class="card-body">
                        <div class="mb-4">
                          <label class="form-check-label" for="{{refund_form.reason.id_for_label}}">
                            {{refund_form.reason.label}}
                          </label>
                          {{refund_form.reason}}
                          <div id="{{refund_form.reason.label}}_errors" class="invalid-feedback"></div> 
                        </div>
                        <div class="form-check mb-4">
                          {{refund_form.full_refund}}
                          <label class="form-check-label" for="{{refund_form.full_refund.id_for_label}}">
                            {{refund_form.full_refund.label}}
                          </label>
                          <div id="{{refund_form.full_refund.id_for_label}}_errors" class="invalid-feedback"></div> 
                        </div>
                        <div id="refund_amount" class="mb-4">
                            <label class="mb-1" for="{{refund_form.amount.id_for_label}}">{{refund_form.amount.label}}</label>
                            {{refund_form.amount}}
                            <div id="refundAmountHelp" class="form-text">
                              {{refund_form.amount.help_text}}
                            </div>
                            <div id="{{refund_form.amount.id_for_label}}_errors" class="invalid-feedback"></div> 
                        </div>
                        <button id="refund_btn" disabled class="btn btn-success btn-disabled" type="submit">{% translate "Make Refund" %}</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
  </div>
</main>
{% endblock content %}


{% block scripts %}
<script>
  const orderTotalPaid = "{{order.total_paid|unlocalize }}"
  const orderTotalRefund = "{{order.total_refund|unlocalize}}"
  const orderId = "{{order.id}}"
  const okText = '{% translate "Ok" %}'

</script>

<script src="{% static 'js/admin/order.js' %}"></script>
{% endblock scripts %}