

{% extends 'layouts/admin.html' %} {% load static %} {% load i18n %} {% block content %}
<main>
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-xl px-4">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="user"></i></div>
                            {% translate "Account Settings" %} - {% translate "Security" %}
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container-xl px-4 mt-4">
        {% include "components/admin/profile-nav.html" %}
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header">{% translate "Change Password" %}</div>
                    <div class="card-body">
                        <form method="POST" action="{% url 'administration:auth-password-change' %}">
                            {% csrf_token %}
                            {% include "components/form/hidden-fields.html" with hidden_fields=form.hidden_fields %}
                            {{form.non_form_errors}} 
                            <div class="mb-3">
                                <label class="small mb-1" for="{{form.old_password.id_for_label}}">
                                    {{form.old_password.label}}
                                </label>
                                {{form.old_password}}
                                {{form.old_password.errors}}
                            </div>
                            <div class="mb-3">
                                <label class="small mb-1" for="{{form.new_password1.id_for_label}}">
                                    {{form.new_password1.label}}
                                </label>
                                {{form.new_password1}}
                                {{form.new_password1.errors}}
                            </div>
                            <div class="mb-3">
                                <label class="small mb-1" for="{{form.new_password2.id_for_label}}">
                                    {{form.new_password2.label}}
                                </label>
                                {{form.new_password2}}
                                {{form.new_password2.errors}}
                            </div>
                            <button class="btn btn-primary" type="submit">{% translate "Save" %}</button>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</main>



{% endblock content %}













