{% extends 'layouts/default.html' %} {% load static %} {% load i18n %} 
{% block title %}{% translate "Checkout" %}{% endblock title %}
{% block description %}{% translate "Checkout Description" %}{% endblock description %}

{% block content %}
<main class="main-area fix">
  {%include "components/breadcrumb.html" with breadcrumb=breadcrumb%}

  <div class="tg-page-area">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="tg-page-content suxnix-page-content">
            <div class="tp-page-post">
              <div class="woocommerce">
                <div class="woocommerce-notices-wrapper"></div>
                <form
                  name="checkout"
                  method="POST"
                  class="checkout woocommerce-checkout"
                >
                    {% csrf_token %}
                  <div class="row" id="customer_details">
                    <div class="col-12 col-lg-6">
                      <div id="customer_form_details">
                        <div class="woocommerce-billing-fields">
                          <h3>{% translate "Billing Details" %}</h3>
                          <div
                            class="woocommerce-billing-fields__field-wrapper"
                          >
                            <p
                              class="form-row form-row-first validate-required"
                              id="{{form.first_name.id_for_label}}_field"
                            >
                              <label for="{{form.first_name.id_for_label}}"
                                >{{form.first_name.label}}&nbsp;<abbr
                                  class="required"
                                  title="required"
                                  >*</abbr
                                ></label
                              ><span class="woocommerce-input-wrapper"
                                >
                                {{form.first_name}}
                                {{form.first_name.errors}}
                                </span>
                            </p>
                            <p
                              class="form-row form-row-last validate-required"
                              id="{{form.last_name.id_for_label}}_field"
                            >
                              <label for="{{form.last_name.id_for_label}}"
                                >{{form.last_name.label}}&nbsp;<abbr
                                  class="required"
                                  title="required"
                                  >*</abbr
                                ></label
                              ><span class="woocommerce-input-wrapper"
                                >{{form.last_name}}
                                {{form.last_name.errors}}
                                </span>
                            </p>
                            <p
                              class="form-row form-row-wide address-field validate-required"
                              id="{{form.address.id_for_label}}_field"
                            >
                              <label for="{{form.address.id_for_label}}"
                                >{{form.address.label}}&nbsp;<abbr
                                  class="required"
                                  title="required"
                                  >*</abbr
                                ></label
                              ><span class="woocommerce-input-wrapper"
                                >
                                {{form.address}}
                                {{form.address.errors}}
                                </span>
                            </p>
                            <p
                              class="form-row form-row-wide address-field validate-required validate-state"
                              id="{{form.city.id_for_label}}_field"
                            >
                              <label for="{{form.city.id_for_label}}"
                                >{{form.city.label}}&nbsp;<abbr
                                  class="required"
                                  title="required"
                                  >*</abbr
                                ></label
                              ><span class="woocommerce-input-wrapper"
                                >{{form.city}}
                                {{form.city.errors}}
                                </span
                              >
                            </p>
                            <p
                              class="form-row form-row-wide validate-required validate-phone"
                              id="{{form.phone.id_for_label}}_field"
                            >
                              <label for="{{form.phone.id_for_label}}"
                                >{{form.phone.label}}&nbsp;<abbr
                                  class="required"
                                  title="required"
                                  >*</abbr
                                ></label
                              ><span class="woocommerce-input-wrapper"
                                >
                                {{form.phone}}
                                <small class="phone-help-text">{{form.phone.help_text}}</small>
                                {{form.phone.errors}}
                                </span>
                            </p>
                            <p
                              class="form-row form-row-wide validate-required validate-email"
                              id="{{form.email.id_for_label}}_field"
                            >
                              <label for="{{form.email.id_for_label}}"
                                >{{form.email.label}}</label
                              ><span class="woocommerce-input-wrapper"
                                >
                                {{form.email}}
                                {{form.email.errors}}
                                </span>
                            </p>
                          </div>
                        </div>

                        <div class="woocommerce-additional-fields">
                          <h3>{% translate "Additional information" %}</h3>

                          <div
                            class="woocommerce-additional-fields__field-wrapper"
                          >
                            <p
                              class="form-row notes"
                              id="{{form.notes.id_for_label}}_field"
                            >
                              <label for="{{form.notes.id_for_label}}"
                                >{{form.notes.label}}&nbsp;<span class="optional"
                                  >({% translate "optional" %})</span
                                ></label
                              ><span class="woocommerce-input-wrapper">
                                {{form.notes}}
                                {{form.notes.errors}}
                              </span>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-lg-6">
                      <div class="cart-wrapper">
                        <div class="order-review-wrapper">
                          <h3 id="order_review_heading">{% translate "Your Order" %}</h3>

                          <div
                            id="order_review"
                            class="woocommerce-checkout-review-order"
                          >
                            <table
                              class="shop_table woocommerce-checkout-review-order-table"
                            >
                              <thead>
                                <tr>
                                  <th class="product-name">{% translate "Product" %}</th>
                                  <th class="product-total">{% translate "Subtotal" %}</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% if cart %}
                                {% for item in cart %}
                                {% with cartProduct=item.product %}
                                <tr class="cart_item">
                                    <td class="product-name">
                                    <a href="{% url 'store:product-detail' category_slug=cartProduct.category_slug product_slug=cartProduct.slug %}">
                                      <img width="32" height="32" src="{{cartProduct.image_feature}}" loading="lazy" />	
                                      {{cartProduct.name}}&nbsp;						
                                    </a>
                                    <strong class="product-quantity"
                                        >&times;&nbsp;{{item.quantity}}</strong
                                    >
                                    </td>
                                    <td class="product-total">
                                    <span
                                        class="woocommerce-Price-amount amount"
                                        ><bdi
                                        ><span
                                            class="woocommerce-Price-currencySymbol"
                                            >&#36;</span
                                        >{{item.total_price}}</bdi
                                        ></span
                                    >
                                    </td>
                                </tr>
                                {% endwith %}
                                {% endfor %}
                                {% endif %}
                              </tbody>
                              <tfoot>
                                <tr class="order-total">
                                  <th>{% translate "Total" %}</th>
                                  <td>
                                    <strong
                                      ><span
                                        class="woocommerce-Price-amount amount"
                                        ><bdi
                                          ><span
                                            class="woocommerce-Price-currencySymbol"
                                            >&#36;</span
                                          >{{cart.get_total_price}}</bdi
                                        ></span
                                      ></strong
                                    >
                                  </td>
                                </tr>
                              </tfoot>
                            </table>
                            <div
                              id="payment"
                              class="woocommerce-checkout-payment"
                            >
                              <div class="form-row place-order">
                                <div
                                  class="woocommerce-terms-and-conditions-wrapper"
                                >
                                  <div class="woocommerce-privacy-policy-text">
                                    <p>
                                      {% translate "privacy policy" as privacy_policy_text %}
                                      {% url 'main:privacy-policy' as privacy_policy_link %}
                                      {% blocktranslate %}
                                      Before you proceed to complete your checkout, we kindly request that you take a moment to review our Privacy Policy. 
                                      Our Privacy Policy outlines how we collect, use, and protect your personal information.
                                      By understanding our privacy practices, you can have full confidence in providing your details for a seamless checkout experience. 
                                      To view our Privacy Policy, please click <a href="{{privacy_policy_link}}" class="woocommerce-privacy-policy-link" target="_blank">{{privacy_policy_text}}</a>. 
                                      Once you have familiarized yourself with our policy, you can proceed with confidence to complete your checkout.                                  
                                      {% endblocktranslate %}                                      
                                    </p>
                                  </div>
                                </div>

                                <button type="submit" class="btn w-100">{% translate "Place order" %}</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}


{% block scripts %}
<script>
  let url = `ws://${window.location.host}/ws/order-socket-server/`

  const orderSocket = new WebSocket(url)

  orderSocket.onclose = function(e){
    console.log("Socket closed")
  }

  const checkoutForm = document.querySelector('form.checkout')

  checkoutForm.addEventListener('submit', async (event)=>{
    event.preventDefault()
    let formData = new FormData(checkoutForm);
    await createOrder(formData)
  })

  async function createOrder(formData){
    try{
      const response = await fetch(checkoutURL, {
        method: 'POST',
        body: formData,
        headers: { "X-CSRFToken": csrftoken },
      });
      const data = await response.json() 
      window.location.replace(data?.success_url);
    }catch(e){
      console.log(e)
    }
  }

</script>
{% endblock scripts %}