{% extends 'layouts/default.html' %} {% load static %} {% load i18n %} 
{% block title %}{% translate "Checkout" %}{% endblock title %}
{% block description %}{% translate "Checkout Description" %}{% endblock description %}

{% block content %}
<main class="main-area fix">
  {%include "components/breadcrumb.html" with breadcrumb=breadcrumb%}

  <div class="tg-page-area">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="tg-page-content suxnix-page-content">
            <div class="tp-page-post">
              {% if cart %}
              <div id="checkout-app" class="woocommerce">
                <div class="row" id="customer_details">
                  <div class="col-12 col-lg-6 mb-3">
                    {% verbatim %}
                    <form @submit.prevent="checkout" class="woocommerce-checkout"
                    >
                    <div id="customer_form_details" class="mb-3">
                      <div class="woocommerce-billing-fields">
                        <h3></h3>
                        <div
                          class="woocommerce-billing-fields__field-wrapper"
                        >
                          <p
                            class="form-row form-row-first validate-required"
                            id="id_first_name_field"
                          >
                              <label for="id_first_name"
                              :class="{'text-danger': v$.checkoutForm.firstName.$dirty && v$.checkoutForm.firstName?.$invalid}"
                              >{{checkoutFormLabels?.first_name}}&nbsp;<abbr
                                class="required"
                                title="required"
                                >*</abbr
                              ></label
                            ><span class="woocommerce-input-wrapper"
                              >
                              <input type="text" v-model="v$.checkoutForm.firstName.$model" @blur="v$.checkoutForm.firstName.$touch" class="input-text" id="id_first_name" :placeholder="checkoutFormLabels?.first_name" autocomplete="given-name">
                              <span v-if="v$.checkoutForm.firstName.$dirty && v$.checkoutForm.firstName.required?.$invalid" class="text-danger">{{checkoutFormValidationMessages?.first_name?.required}}</span>
                              </span>
                          </p>
                          <p
                            class="form-row form-row-last validate-required"
                            id="id_last_name_field"
                          >
                            <label for="id_last_name"
                              :class="{'text-danger':v$.checkoutForm.lastName.$dirty && v$.checkoutForm.lastName?.$invalid}"
                              >{{checkoutFormLabels?.last_name}}&nbsp;<abbr
                                class="required"
                                title="required"
                                >*</abbr
                              ></label
                            ><span class="woocommerce-input-wrapper"
                              >                                
                              <input type="text" v-model="v$.checkoutForm.lastName.$model" @blur="v$.checkoutForm.lastName.$touch" class="input-text" id="id_last_name" :placeholder="checkoutFormLabels?.last_name" autocomplete="family-name">
                              <span v-if="v$.checkoutForm.lastName.$dirty && v$.checkoutForm.lastName.required?.$invalid" class="text-danger">{{checkoutFormValidationMessages?.last_name?.required}}</span>
                              </span>
                          </p>
                          <p
                            class="form-row form-row-wide address-field validate-required"
                            id="id_address_field"
                          >
                            <label for="id_address"
                              :class="{'text-danger':v$.checkoutForm.address.$dirty && v$.checkoutForm.address?.$invalid}"
                              >{{checkoutFormLabels?.address}}&nbsp;<abbr
                                class="required"
                                title="required"
                                >*</abbr
                              ></label
                            ><span class="woocommerce-input-wrapper"
                              >
                              <input type="text" v-model="v$.checkoutForm.address.$model" @blur="v$.checkoutForm.address.$touch" class="input-text" id="id_address" :placeholder="checkoutFormLabels?.address" autocomplete="address-line1">
                              <span v-if="v$.checkoutForm.address.$dirty && v$.checkoutForm.address.required?.$invalid" class="text-danger">{{checkoutFormValidationMessages?.address?.required}}</span>
                              </span>
                          </p>
                          <p
                            class="form-row form-row-wide address-field validate-required validate-state"
                            id="id_city_field"
                          >
                            <label for="id_city"
                              :class="{'text-danger':v$.checkoutForm.city.$dirty && v$.checkoutForm.city?.$invalid}"
                              >{{checkoutFormLabels?.city}}&nbsp;<abbr
                                class="required"
                                title="required"
                                >*</abbr
                              ></label
                            ><span class="woocommerce-input-wrapper"
                              >
                              <select class="state_select" id="id_city" v-model="v$.checkoutForm.city.$model" @blur="v$.checkoutForm.city.$touch">
                                <option class="empty-city-option" value=""></option>
                                <option v-for="cityItem in cities" :key="cityItem" :value="cityItem">
                                  {{cityItem}}
                                </option>
                              </select>
                              <span v-if="v$.checkoutForm.city.$dirty && v$.checkoutForm.city.required?.$invalid" class="text-danger">{{checkoutFormValidationMessages?.city?.required}}</span>
                              </span
                            >
                          </p>
                          <p
                            class="form-row form-row-wide validate-required validate-phone"
                            id="id_phone_field"
                          >
                            <label for="id_phone"
                              :class="{'text-danger':v$.checkoutForm.phone.$dirty && v$.checkoutForm.phone?.$invalid}"
                              >{{checkoutFormLabels?.phone}}&nbsp;<abbr
                                class="required"
                                title="required"
                                >*</abbr
                              ></label
                            ><span class="woocommerce-input-wrapper"
                              >
                              <input type="text" v-model="v$.checkoutForm.phone.$model"  @blur="v$.checkoutForm.phone.$touch" class="input-text phone-input" id="id_phone" :placeholder="+994xxxxxxxxx" autocomplete="tel">
                              <span class="form-text phone-input-helper"></span>
                              <span v-if="v$.checkoutForm.phone.$dirty && v$.checkoutForm.phone.required?.$invalid" class="text-danger">{{checkoutFormValidationMessages?.phone?.required}}</span>
                              <span v-if="v$.checkoutForm.phone.$dirty && v$.checkoutForm.phone.phoneValidator?.$invalid" class="text-danger">{{checkoutFormValidationMessages?.phone?.regex}}</span>
                              </span>
                          </p>
                          <p
                            class="form-row form-row-wide validate-required validate-email"
                            id="id_email_field"
                          >
                            <label for="id_email"
                              :class="{'text-danger':v$.checkoutForm.email.$dirty && v$.checkoutForm.email?.$invalid}"
                              >{{checkoutFormLabels?.email}} <span class="optional"
                              ></span
                            ></label
                            ><span class="woocommerce-input-wrapper"
                              >
                              <input type="email" v-model="v$.checkoutForm.email.$model" @blur="v$.checkoutForm.email.$touch" class="input-text" id="id_email" :placeholder="checkoutFormLabels?.email" autocomplete="email username">
                              <span v-if="v$.checkoutForm.email.$dirty && v$.checkoutForm.email.required?.$invalid" class="text-danger">{{checkoutFormValidationMessages?.email?.required}}</span>
                              </span>
                          </p>
                        </div>
                      </div>
                      <div class="woocommerce-additional-fields">
                        <h3></h3>
                        <div
                          class="woocommerce-additional-fields__field-wrapper"
                        >
                          <p
                            class="form-row notes"
                            id="id_notes_field"
                          >
                            <label for="id_notes"
                              >{{checkoutFormLabels?.notes}}&nbsp;<span class="optional"
                                ></span
                              ></label
                            ><span class="woocommerce-input-wrapper">
                              <textarea v-model="checkoutForm.notes" class="input-text" :placeholder="checkoutFormLabels?.notes" id="id_notes" cols="30" rows="10"></textarea>
                            </span>
                          </p>
                        </div>
                      </div>
                    </div>
                    <p v-if="v$.checkoutForm?.$invalid&&v$.$dirty" class="form-invalid-feedback text-danger"></p>
                    <button :disabled="v$.checkoutForm?.$invalid||submitLoading" type="submit" class="btn checkout-btn w-100"></button>
                    </form>
                    {% endverbatim %}
                  </div>

                  <div class="col-12 col-lg-6">
                    <div class="cart-wrapper">
                      <div class="order-review-wrapper">
                        <h3 id="order_review_heading">{% translate "Your Order" %}</h3>

                        <div
                          id="order_review"
                          class="woocommerce-checkout-review-order"
                        >
                          <table
                            class="shop_table woocommerce-checkout-review-order-table"
                          >
                            <thead>
                              <tr>
                                <th class="product-name">{% translate "Product" %}</th>
                                <th class="product-total">{% translate "Subtotal" %}</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% if cart %}
                              {% for item in cart %}
                              {% with cartProduct=item.product %}
                              <tr class="cart_item">
                                  <td class="product-name">
                                  <a href="{% url 'store:product-detail' category_slug=cartProduct.category_slug product_slug=cartProduct.slug %}">
                                    <img width="32" height="32" src="{{cartProduct.image_feature}}" loading="lazy" />	
                                    {{cartProduct.name}}&nbsp;						
                                  </a>
                                  <strong class="product-quantity"
                                      >&times;&nbsp;{{item.quantity}}</strong
                                  >
                                  </td>
                                  <td class="product-total">
                                  <span
                                      class="woocommerce-Price-amount amount"
                                      ><bdi
                                      ><span
                                          class="woocommerce-Price-currencySymbol"
                                          >&#36;</span
                                      >{{item.total_price}}</bdi
                                      ></span
                                  >
                                  </td>
                              </tr>
                              {% endwith %}
                              {% endfor %}
                              {% endif %}
                            </tbody>
                            <tfoot>
                              <tr class="order-total">
                                <th>{% translate "Total" %}</th>
                                <td>
                                  <strong
                                    ><span
                                      class="woocommerce-Price-amount amount"
                                      ><bdi
                                        ><span
                                          class="woocommerce-Price-currencySymbol"
                                          >&#36;</span
                                        >{{cart.get_total_price}}</bdi
                                      ></span
                                    ></strong
                                  >
                                </td>
                              </tr>
                            </tfoot>
                          </table>
                          <div
                            id="payment"
                            class="woocommerce-checkout-payment"
                          >
                            <div class="form-row place-order">
                              <div
                                class="woocommerce-terms-and-conditions-wrapper"
                              >
                                <div class="woocommerce-privacy-policy-text">
                                  <p>
                                    {% translate "privacy policy" as privacy_policy_text %}
                                    {% url 'main:privacy-policy' as privacy_policy_link %}
                                    {% blocktranslate %}
                                    Before you proceed to complete your checkout, we kindly request that you take a moment to review our Privacy Policy. 
                                    Our Privacy Policy outlines how we collect, use, and protect your personal information.
                                    By understanding our privacy practices, you can have full confidence in providing your details for a seamless checkout experience. 
                                    To view our Privacy Policy, please click <a href="{{privacy_policy_link}}" class="woocommerce-privacy-policy-link" rel="noopener noreferrer" target="_blank">{{privacy_policy_text}}</a>. 
                                    Once you have familiarized yourself with our policy, you can proceed with confidence to complete your checkout.                                  
                                    {% endblocktranslate %}                                      
                                  </p>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
              {% else %}
              <div class="d-flex justify-content-center flex-column align-items-center">
                <h4>{% translate "Your shopping cart is currently empty." %}</h4>
                <a href="{% url 'store:products' %}" class="btn">{% translate "Continue Shopping" %}</a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}


{% block scripts %}
<script>
  const language = "{{CURRENT_LANGUAGE}}"
  document.querySelectorAll('.optional').forEach(element => {
    element.innerHTML = '({% translate "optional" %})'
  })
  document.querySelector('.form-invalid-feedback').innerHTML = '{% translate "Please fill the required fields" %}'
  document.querySelector('.checkout-btn').innerHTML = '{% translate "Place order" %}'
  document.querySelector('.woocommerce-additional-fields h3').innerHTML = '{% translate "Additional information" %}'
  document.querySelector('.empty-city-option').innerHTML = '{% translate "Select a city" %}'
  document.querySelector('.woocommerce-billing-fields>h3').innerHTML = '{% translate "Billing Details" %}'
  document.querySelector('.phone-input-helper').innerHTML = `{% translate "Phone number must be entered in the format: '+994xxxxxxxxx'. Up to 12 digits allowed" %}`
</script>

<script src="{% static 'js/main/checkout.js' %}"></script>
{% endblock scripts %}