{% extends 'layouts/default.html' %} {% load static %} {% load i18n %} {% block content %}
<main class="main-area fix">
  {%include "components/breadcrumb.html" with breadcrumb=breadcrumb%}

  <div class="inner-shop-area">
    <div class="container">
        <div class="row row-cols-xl-3 row-cols-lg-3 row-cols-md-2 row-cols-1">
            {% for product in wishlist.products %}
            {% include "components/products/product.html" with product=product %}
            {% endfor %}
        </div>
        <div class="suxnix-shop-pagination">
        {% include "components/pagination.html" with pagination=wishlist.products %}
        </div>
    </div>
  </div>
</main>
{% endblock content %}
