{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{config.app.site_url}}{% static 'css/main/bootstrap.css' %}">
</head>
<body>
    <div class="container bg-light p-3">
        <main class="mb-5">
            <h2 class="text-center mb-4"><a href="{{config.app.site_url}}" target="_blank" class="text-decoration-none text-dark fw-bold">{{config.app.name}}</a></h2>
            <p class="mb-2">Hörmətli {{order.full_name}},</p>
            <p class="mb-2">Bildirmək istərdik ki, sifarişiniz göndərildi və tezliklə sizə çatdırılacaq!.</p>
            <div class="mb-4">
                <p><b>Çatdırılma tarixi:</b></p>
                <h4 class="text-success fw-bold text-center">{{delivery.delivery_date|date:'d.m.Y'}}</h4>
            </div>
            <p class="mb-2"><b>İzləmə nömrəsi:</b> {{delivery.tracking_number}}</p>
            <p class="mb-2"><b>Kuryer:</b> {{delivery.courier_name}}</p>
            <p class="mb-2"><b>Ünvan:</b> {{order.address}}, {{order.city}}</p>
            <p class="text-center mb-4"><a href="{{config.app.site_url}}{% url 'orders:detail' id=order.id %}?order_key={{order.order_key}}" class="btn-success btn-lg btn">Sifarişi İzlə</a></p>
            <div class="list-group mb-4">
                <li class="list-group-item list-group-item-action active text-center">
                    Sifarişiniz
                </li>
                {% for item in order.items.all %}
                <a href="{{config.app.site_url}}{% url 'store:product-detail' category_slug=item.product.category.slug product_slug=item.product.slug %}" class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1">{{item.product.name}}</h6>
                    </div>
                    <span class="badge bg-success rounded-pill">{{item.quantity}}</span>
                </a>
                {% endfor %}
            </div>
            <div class="list-group mb-4">
                <li class="list-group-item list-group-item-action active text-center">
                    Sifarişiniz
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-1">Sifariş tarixi</h6>
                    </div>
                    <span>{{order.created_at|date:'d.m.Y'}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-1">Sifariş nömrəsi</h6>
                    </div>
                    <span>{{order.id}}</span>
                </li>
            </div>
            <p class="mt-5">
                Zəhmət olmasa bu e-poçtu alış-verişinizin sübutu kimi saxlayın.
                İstəyirik ki, hər dəfə bizdən alış-veriş etdikdə məmnun qalasınız. 
                Sizi qane etməyən hal baş verdikdə, lütfən, <a class="text-success" href="{{config.app.site_url}}{% url 'main:return-policy' %}" target="_blank">Qaytarılma Siyasətini</a> oxuyun.
                Ümid edirik ki, sizi tezliklə saytımıza yenidən salamlayacağıq.
                Sualiniz var? <a class="text-success" href="{{config.app.site_url}}{% url 'main:contact' %}" target="_blank">Əlaqə</a> bölməmizə daxil olun
            </p>
        </main>
        <footer class="text-center">
            <img src="{{config.app.site_url}}{% static 'images/logo.png' %}" style="width: 30px; height:30px">
            <p>Hörmətlə,<br>{{config.app.name}}</p>
        </footer>
    </div>
</body>
</html>