{% extends 'components/notifications/email-layout.html' %} 
{% block content %}
<p class="mb-4">Hörmətli {{order.full_name}},</p>
<p class="mb-4">
  Sifariş nömrəsi {{order.id}} ilə sifarişinizin çatdırılmasının ləğv edildiyini
  təəssüflə bildiririk. Bunun səbəb ola biləcəyi hər hansı narahatlığa görə üzr
  istəyirik.
</p>
<p class="mb-4">
  Hər hansı bir sualınız varsa və ya əlavə yardıma ehtiyacınız varsa,
  <a
    class="text-success"
    href="{{config.app.site_url}}{% url 'main:contact' %}"
    rel="noopener noreferrer"
    target="_blank"
    >Müştəri Dəstəyi Əlaqəsi</a
  >
  ünvanında müştəri dəstək komandamızla əlaqə saxlamaqdan çəkinməyin.
</p>
{% endblock content %}
