{% load static %}
{% load i18n %}

<header id="home">
  <div id="header-top-fixed"></div>
  <div id="sticky-header" class="menu-area">
    <div class="container custom-container">
      <div class="row">
        <div class="col-12">
          <div class="mobile-nav-toggler"><i class="flaticon-layout"></i></div>
          <div class="menu-wrap">
            <nav class="menu-nav">
              <div class="logo">
                <a class="sticky-logo" href="{% url 'main:index' %}">
                  <img
                    src="{% static 'images/logo.png' %}"
                    alt="Logo"
                  />
                </a>
              </div>
              <div class="navbar-wrap main-menu d-none d-xl-flex">
                <ul id="menu-main-menu" class="navigation">
                  {% for item in default_menu %}
                  {% if item.children %}
                  <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-has-children">
                    <a href="{% url item.route %}" aria-current="page">{{item.title}}</a>
                    <ul class="sub-menu">
                      {% for subItem in item.children %}
                      <li class="menu-item menu-item-type-post_type menu-item-object-page">
                        <a href="{{subItem.route}}">{{subItem.title}}</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </li>
                  {% else %}
                  <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item current_page_item menu-item-home">
                    <a href="{% url item.route %}" aria-current="page">{{item.title}}</a>
                  </li>
                  {% endif %}
                  {% endfor %}
                  {% for lang in languages %}
                  <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item current_page_item menu-item-home">
                    <a href="/{{ lang.code }}{{ request.get_full_path|slice:'3:' }}" aria-current="page">{{lang.code|upper}}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              <div class="header-action d-none d-sm-block">
                <ul>
                  <li class="header-shop-cart">
                    {% with total_quantity=cart|length %}
                    <a href="{% url 'cart:index' %}" class="cart-count">
                      <i class="flaticon-shopping-cart"></i>
                      <span id="cart-quantity"  class="mini-cart-count">
                        {% if total_quantity > 0 %}
                        {{ total_quantity }}
                        {% else %}
                        0
                        {% endif %}
                      </span>
                    </a>
                    <div class="header-mini-cart">
                      {% if cart %}
                      <div class="woocommerce-mini-cart cart_list product_list_widget ">
                        {% for item in cart %}
                        {% with cartProduct=item.product %}
                        <div class="woocommerce-mini-cart-item mini_cart_item" data-product_id="{{product.id}}">
                          <div class="mini-cart-thumb">
                            <a href="{% url 'store:product-detail' category_slug=cartProduct.category_slug product_slug=cartProduct.slug %}">
                              <img width="350" height="350" src="{{cartProduct.image_feature}}" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" />							
                            </a>
                          </div>
                          <div class="min-cart-content">
                            <h3 class="mini-cart-title"><a href="{% url 'store:product-detail' category_slug=cartProduct.category_slug product_slug=cartProduct.slug %}">{{cartProduct.name}}</a></h3>
                            <div class="min-cart-price">
                            <span class="quantity">{{item.quantity}} &times; <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>{{item.price}}</bdi></span></span>
                          </div>
                          </div>
                        </div>
                        {% endwith %}
                        {% endfor %}
                      </div>
                      {% else %}
                      <p class="woocommerce-mini-cart__empty-message">
                        {% translate "No products in the cart" %}.
                      </p>
                      {% endif %}
                      <p class="woocommerce-mini-cart__total total">
                        <strong>{% translate "Subtotal" %}:</strong> <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span><span id-"cart-total-price">{{cart.get_total_price}}</span></bdi></span>
                      </p>
                      <p class="woocommerce-mini-cart__buttons buttons"><a href="{% url 'cart:index' %}" class="button wc-forward">{% translate "View cart" %}</a>
                        <a href="{% url 'checkout:index' %}" class="button checkout wc-forward">{% translate "Checkout" %}</a>
                      </p>
                    </div>
                    {% endwith %}
                  </li>

                  <li class="header-search">
                    <a href="#"><i class="flaticon-search"></i></a>
                  </li>

                  <li class="offCanvas-btn d-none d-xl-block">
                    <a href="#" class="navSidebar-button"
                      ><i class="flaticon-layout"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>

          <div class="mobile-menu">
            <nav class="menu-box">
              <div class="close-btn"><i class="fas fa-times"></i></div>
              <div class="nav-logo">
                <a href="{% url 'main:index' %}">
                  <img
                    src="{% static 'wp-content/uploads/2022/09/logo.png' %}"
                    alt="Logo"
                  />
                </a>
              </div>

              <div class="menu-outer">
                <ul id="menu-main-menu-1" class="navigation">
                  {% for item in default_menu %}
                  {% if item.children %}
                  <li
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children has-children"
                  >
                    <a href="{% url item.route %}">{{item.title}}</a>
                    <ul class="sub-menu">
                      {% for subItem in item.children %}
                      <li
                        class="menu-item menu-item-type-post_type menu-item-object-page"
                      >
                        <a href="{{subItem.route}}">{{subItem.title}}</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </li>
                  {% else %}
                  <li
                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home"
                  >
                    <a href="{% url item.route %}">{{item.title}}</a>
                  </li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </div>

              <div class="social-links">
                <ul class="clearfix">
                  {% for item in site_info.social_links %}
                  <li class="facebook">
                    <a target="_blank" href="{{item.link}}"><i class="{{item.icon}}"></i></a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </nav>
          </div>
          <div class="menu-backdrop"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="search-popup-wrap" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="search-wrap text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="search-form">
              <form method="get" action="{% url 'main:search' %}">
                {% csrf_token %}
                <input
                  type="text"
                  name="search"
                  value=""
                  placeholder="Enter your keyword..."
                />
                <button class="search-btn">
                  <i class="flaticon-search"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="search-backdrop"></div>
</header>

{% block scripts %}
<script type="text/javascript">
  window.addEventListener("load", function() {
    (function($) {
      jQuery(document).ready(function ($) {
        $('.add_to_cart_button').on('click', (e) => {
          e.preventDefault();
          const productId = $(e.currentTarget).data('product_id');
          $.ajax({
              type: 'POST',
              url: cartAddURL,
              data: {
                product_id: productId,
                product_quantity: $('#quantity').val(),
                csrfmiddlewaretoken: csrftoken,
              },
              success: function (data) {
                const url = "{% url 'store:product-detail' category_slug='category_slug_value' product_slug='product_slug_value' %}"
                              .replace('category_slug_value', data.item.product.category_slug)
                              .replace('product_slug_value', data.item.product.slug)
                const product = `<div class="woocommerce-mini-cart-item mini_cart_item" data-product_id="${data.item.product.id}">
                    <div class="mini-cart-thumb">
                      <a href="${url}"">
                        <img width="350" height="350" src="${data.item.product.image_feature}" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" />							
                      </a>
                    </div>
                    <div class="min-cart-content">
                      <h3 class="mini-cart-title"><a href="${url}">${data.item.product.name}</a></h3>
                      <div class="min-cart-price">
                      <span class="quantity">${data.item.quantity} &times; <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>${data.item.price}</bdi></span></span>
                    </div>
                    </div>
                    <div class="mini-cart-remove">
                      <button type="button" class="remove remove_from_cart_button" aria-label="Remove this item" data-product_id="${data.item.product.id}" data-product_sku="QZX8VG-T5">&times;</button>					
                    </div>
                  </div>`
                
                if($(`.mini_cart_item[data-product_id="${productId}"]`).length === 0){
                  $(".cart_list" ).append(product);
                }else{
                  $(`.mini_cart_item[data-product_id="${productId}"]`).html(product)
                }
               
                $("#cart-total-price").html(data.total_price);
                $("#cart-quantity").html(data.quantity)
              },
              error: function (xhr, errmsg, err) { }
          });
        })
      })
      
    })(jQuery);
  });
</script>
{% endblock scripts %}
