
{% extends 'layouts/admin.html' %} {% load static %} {% load i18n %} {% block content %}
<header class="page-header page-header-dark bg-gradient-success-to-secondary pb-10">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="arrow-right-circle"></i></div>
                        {% translate "Site Data" %}
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-xl px-4 mt-n10">
    <div class="card">
        <div class="card-body">
            {% include 'components/messages.html' with messages=messages %}
            <form method="POST" action="{% url 'administration:site-texts' %}" >
                {% csrf_token %}
                {{ formset.management_form }}
                <h3 class="text-primary">{% translate "Texts" %}</h3>
                <h5 class="card-title mb-4">{% translate "About text" %}, {% translate "Terms and Privacy text" %}</h5>
                {% for formset_item in formset %}
                <div class="mb-4">
                    <h5 class="text-primary mb-1">{{formset_item.language.label}} - {{formset_item.language.value|upper}}</h5>
                </div>
                <div class="mb-4">
                    <label class="mb-1" for="{{formset_item.about.id_for_label}}">{{formset_item.about.label}}</label>
                    {{formset_item.about}}
                </div>
                <hr>
                {% endfor %}
                <div class="d-flex justify-content-between">
                    <button class="btn btn-success btn-sm" type="submit"><i class="me-1" data-feather="edit"></i> {% translate "Save" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}











