{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main/bootstrap.css' %}">
</head>
<body>
    <div class="container bg-light p-3">
        <main class="mb-5">
            <h2 class="text-center mb-4">
                <a href="" target="_blank" rel="noopener noreferrer" 
                    class="text-decoration-none text-dark fw-bold">{{config.app.name}}
                </a>
            </h2>
            {% block content %}{% endblock content %}            
        </main>
        <footer class="text-center">
            <img src="{% static 'images/logo.png' %}" style="width: 30px; height:30px">
            <p>Hörmətlə,<br>{{config.app.name}}</p>
        </footer>
    </div>
</body>
</html>