{% load static %}
<link href="{% static 'css/admin/datatables.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/admin/litepicker.css' %}" rel="stylesheet" />
<link href="{% static 'css/admin/admin.css' %}" rel="stylesheet" />
<link
  rel="icon"
  type="image/x-icon"
  href="{% static 'images/logo.png' %}"
  sizes="32x32"
/>
<link
  rel="icon"
  type="image/x-icon"
  href="{% static 'images/logo.png' %}"
  sizes="192x192"
/>
<link
  rel="apple-touch-icon"
  type="image/x-icon"
  href="{% static 'images/logo.png' %}"
/>
<script
  src="{% static 'js/admin/jquery.js' %}"
></script>