{% load static %}
<script src="{% static 'js/vue.global.min.js' %}"></script>
<script
  data-search-pseudo-elements=""
  defer=""
  src="{% static 'fonts/font-awesome.min.js' %}"
  crossorigin="anonymous"
></script>
<script
  src="{% static 'icons/feather.min.js' %}"
  crossorigin="anonymous"
></script>
<script
  data-cfasync="false"
  src="{% static 'js/email-decode.min.js' %}"
></script>
<script
  src="{% static 'js/bootstrap.bundle.min.js' %}"
  crossorigin="anonymous"
></script>
<script src="{% static 'js/admin.js' %}"></script>
{% comment %} <script
  src="{% static 'js/Chart.min.js' %}"
  crossorigin="anonymous"
></script> {% endcomment %}
{% comment %} <script src="{% static 'js/chart-area-demo.js' %}"></script>
<script src="{% static 'js/chart-bar-demo.js' %}"></script> {% endcomment %}
<script
  src="{% static 'js/simple-datatables.min.js' %}"
  crossorigin="anonymous"
></script>
<script src="{% static 'js/datatables-simple-demo.js' %}"></script>
<script
  src="{% static 'js/litepicker.bundle.js' %}"
  crossorigin="anonymous"
></script>
<script src="{% static 'js/litepicker.js' %}"></script>

<script>
  const csrftoken = "{{csrf_token}}"
  const ordersURL = "{% url 'api:order-list' %}"
</script>
