
{% extends 'layouts/admin.html' %} {% load static %} {% load i18n %} 
{% block title %}{% translate "Site Info" %}{% endblock title %}
{% block content %}
<header class="page-header page-header-dark bg-gradient-success-to-secondary pb-10">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="arrow-right-circle"></i></div>
                        {% translate "Site Info" %}
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-xl px-4 mt-n10">
    <div class="card">
        <div class="card-body">
            {% include 'components/messages.html' with messages=messages %}
            <form method="POST" action="{% url 'administration:site-info' %}">
                {% csrf_token %}
                <h5 class="card-title mb-4">{% translate "Contact details" %}, {% translate "Social media links" %}</h5>
                <div class="mb-3">
                    <label class="small mb-1" for="{{form.phone.id_for_label}}">{{form.phone.label}}</label>
                    {{form.phone}}
                </div>
                <div class="mb-3">
                    <label class="small mb-1" for="{{form.address.id_for_label}}">{{form.address.label}}</label>
                    {{form.address}}
                </div>
                <div class="mb-3">
                    <label class="small mb-1" for="{{form.email.id_for_label}}">{{form.email.label}}</label>
                    {{form.email}}
                </div>
                <div class="mb-3">
                    <label class="small mb-1" for="{{form.facebook_link.id_for_label}}">{{form.facebook_link.label}}</label>
                    {{form.facebook_link}}
                </div>
                <div class="mb-3">
                    <label class="small mb-1" for="{{form.instagram_link.id_for_label}}">{{form.instagram_link.label}}</label>
                    {{form.instagram_link}}
                </div>
                <div class="mb-3">
                    <label class="small mb-1" for="{{form.twitter_link.id_for_label}}">{{form.twitter_link.label}}</label>
                    {{form.twitter_link}}
                </div>
                <div class="mb-3">
                    <label class="small mb-1" for="{{form.youtube_link.id_for_label}}">{{form.youtube_link.label}}</label>
                    {{form.youtube_link}}
                </div>
                <div class="mb-3">
                    <label class="small mb-1" for="{{form.tiktok_link.id_for_label}}">{{form.tiktok_link.label}}</label>
                    {{form.tiktok_link}}
                </div>
                <hr class="my-4" />
                <div class="d-flex justify-content-between">
                    <button class="btn btn-sm btn-success" type="submit"><i class="me-1" data-feather="edit"></i> {% translate "Save" %}</button>
                </div>
            </form>       
        </div>
    </div>
</div>
{% endblock content %}











