{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="max-image-preview:large" />

    <title>Document</title>

    {% include "components/default/imports/links.html" %}
    {% block stylesheet %}{% endblock stylesheet %}
  </head>

  <body
    class="home page-template page-template-elementor_header_footer page page-id-65 wp-embed-responsive theme-suxnix woocommerce-no-js tinvwl-theme-style no-sidebar elementor-default elementor-template-full-width elementor-kit-6 elementor-page elementor-page-65"
  >
    {% include "components/svg.html" %} 
    {% include "components/preloader.html" %}
    {% include "components/scroll_top.html" %}

    {% include "components/default/header.html" %}

    {% block content %} 
    {% endblock content %} 

    {% include "components/default/footer.html" %}

    {% include "components/default/imports/scripts.html" %}
    {% block scripts %}{% endblock scripts %}
  </body>
</html>
