<div
  class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-bb1f3c5"
  data-id="bb1f3c5"
  data-element_type="column"
>
  <div class="elementor-widget-wrap elementor-element-populated">
    <div
      class="elementor-element elementor-element-d915873 elementor-widget elementor-widget-tp-pricing"
      data-id="d915873"
      data-element_type="widget"
      data-widget_type="tp-pricing.default"
    >
      <div class="elementor-widget-container">
        <a
          class="pricing-item wow fadeInUp regular"
          data-wow-delay=".2s"
          target="_blank"
          href="{{company.link}}"
        >
          <div class="pricing__box text-center">
            <div class="pricing-img">
              <img decoding="async" src="{{company.cover_image.url}}" alt="" />
            </div>
            <div class="pricing-price">
              <h4 class="price">{{company.name}}</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
