{% extends 'layouts/default.html' %} {% load static %} {% load i18n %} {% block content %}
<main class="main-area fix">
  {% translate "Contact Us" as pageTitle %}
  {%include "components/breadcrumb.html" with pageTitle=pageTitle %}

  <div
    data-elementor-type="wp-page"
    data-elementor-id="87"
    class="elementor elementor-87"
  >
    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-b7b2079 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
      data-id="b7b2079"
      data-element_type="section"
    >
      <div class="elementor-container elementor-column-gap-no">
        <div
          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f87c9fe"
          data-id="f87c9fe"
          data-element_type="column"
        >
          <div class="elementor-widget-wrap elementor-element-populated">
            <div
              class="elementor-element elementor-element-6702840 elementor-widget elementor-widget-contact-info"
              data-id="6702840"
              data-element_type="widget"
              data-widget_type="contact-info.default"
            >
              <div class="elementor-widget-container">
                <!-- contact-area -->
                <section class="contact-area">
                  <div class="container">
                    <div class="contact-box-wrapper">
                      <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 col-sm-9">
                          <div class="contact-box">
                            <div class="contact-icon">
                              <span class="overlay-icon"
                                ><i class="fas fa-check"></i
                              ></span>

                              <i aria-hidden="true" class="far fa-map"></i>
                            </div>
                            <div class="contact-content">
                              <h5 class="title">Office Address</h5>

                              <p class="contact-desc">
                                {{siteInfo.address}}
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-9">
                          <div class="contact-box">
                            <div class="contact-icon">
                              <span class="overlay-icon"
                                ><i class="fas fa-check"></i
                              ></span>

                              <i aria-hidden="true" class="fas fa-phone"></i>
                            </div>
                            <div class="contact-content">
                              <h5 class="title">Phone Number</h5>

                              <p class="contact-desc">
                                {{siteInfo.phone}}
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-9">
                          <div class="contact-box">
                            <div class="contact-icon">
                              <span class="overlay-icon"
                                ><i class="fas fa-check"></i
                              ></span>

                              <i aria-hidden="true" class="fas fa-globe"></i>
                            </div>
                            <div class="contact-content">
                              <h5 class="title">Web Connect</h5>

                              <p class="contact-desc">
                                {{siteInfo.email}} <br />
                                {{config.app.site_url}}
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-9">
                          <div class="contact-box">
                            <div class="contact-icon">
                              <span class="overlay-icon"
                                ><i class="fas fa-check"></i
                              ></span>

                              <i aria-hidden="true" class="far fa-map"></i>
                            </div>
                            <div class="contact-content">
                              <h5 class="title">Social Media</h5>
                              <p class="contact-desc">
                                {% for item in site_info.social_links %}
                                <a target="_blank" class="mx-2 fs-3" href="{{item.link}}"><i class="{{item.icon}}"></i></a>
                                {% endfor %}
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>

                <section class="contact-form-area">
                  <div class="container">
                    <div class="contact-form-wrap">
                      <div class="section-title mb-50">
                        <h2 class="title">
                          Contact Us
                        </h2>
                      </div>

                      <div
                        role="form"
                        class="wpcf7"
                        id="contact-form"
                        lang="en-US"
                        dir="ltr"
                      >
                        <div class="screen-reader-response">
                          <p
                            role="status"
                            aria-live="polite"
                            aria-atomic="true"
                          ></p>
                          <ul></ul>
                        </div>
                        <form
                          method="POST"
                          class="wpcf7-form init"
                          data-status="init"
                        >
                        {% csrf_token %}
                        {% include 'components/messages.html' with messages=messages %}

                          <div class="contact-form">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-grp">
                                  <label for="{{form.name.id_for_label}}">{{form.name.label}}</label>
                                  <span
                                    class="wpcf7-form-control-wrap"
                                    data-name="your-name"
                                    >{{form.name}}</span>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-grp">
                                  <label for="{{form.email.id_for_label}}">{{form.email.label}}</label>
                                  <span
                                    class="wpcf7-form-control-wrap"
                                    data-name="your-email"
                                    >{{form.email}}</span>
                                </div>
                              </div>
                              <div class="form-grp">
                                <span
                                class="wpcf7-form-control-wrap"
                                data-name="your-subject"
                                >
                                <label for="{{form.subject.id_for_label}}">{{form.subject.label}}</label>
                                {{form.subject}}</span
                              >
                              </div>
                              <div class="form-grp">
                                <label for="{{form.message.id_for_label}}">{{form.message.label}}</label>
                                <span
                                  class="wpcf7-form-control-wrap"
                                  data-name="your-message"
                                >
                                  {{form.message}}
                                </span>
                              </div>
                              <div class="form-btn">
                                <button class="wpcf7-form-control has-spinner wpcf7-submit btn" type="submit">Send</button>
                              </div>
                            </div>
                            <div
                              class="wpcf7-response-output"
                              aria-hidden="true"
                            ></div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
{% endblock content %}
