{% extends 'layouts/default.html' %} {% block content %}
<main class="main-area fix">
  <div
    data-elementor-type="wp-page"
    data-elementor-id="65"
    class="elementor elementor-65"
  >
    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-c80e885 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
      data-id="c80e885"
      data-element_type="section"
    >
      <div class="elementor-container elementor-column-gap-no">
        <div
          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e6bd24c"
          data-id="e6bd24c"
          data-element_type="column"
        >
          <div class="elementor-widget-wrap elementor-element-populated">
            <div
              class="elementor-element elementor-element-9f87d03 elementor-widget elementor-widget-hero-banner"
              data-id="9f87d03"
              data-element_type="widget"
              data-widget_type="hero-banner.default"
            >
              <div class="elementor-widget-container">
                <!-- banner-area -->
                {% include "components/banner.html" %}
                <!-- banner-area-end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-c3ee463 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
      data-id="c3ee463"
      data-element_type="section"
    >
      <div class="elementor-container elementor-column-gap-no">
        <div
          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-fc5ad54"
          data-id="fc5ad54"
          data-element_type="column"
        >
          <div class="elementor-widget-wrap elementor-element-populated">
            <div
              class="elementor-element elementor-element-fef10f2 elementor-widget elementor-widget-brand"
              data-id="fef10f2"
              data-element_type="widget"
              data-widget_type="brand.default"
            >
              <div class="elementor-widget-container">
                <script>
                  jQuery(document).ready(function ($) {
                    /*=============================================
          =    		Brand Active		      =
      =============================================*/
                    $(".brand-active").slick({
                      dots: false,
                      infinite: true,
                      speed: 1000,
                      autoplay: true,
                      arrows: false,
                      slidesToShow: 6,
                      slidesToScroll: 2,
                      responsive: [
                        {
                          breakpoint: 1200,
                          settings: {
                            slidesToShow: 5,
                            slidesToScroll: 1,
                            infinite: true,
                          },
                        },
                        {
                          breakpoint: 992,
                          settings: {
                            slidesToShow: 4,
                            slidesToScroll: 1,
                          },
                        },
                        {
                          breakpoint: 767,
                          settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1,
                            arrows: false,
                          },
                        },
                        {
                          breakpoint: 575,
                          settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1,
                            arrows: false,
                          },
                        },
                      ],
                    });
                  });
                </script>

                <!-- brand-area -->
                <div class="brand-area">
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="brand-title text-center mb-50">
                          <div class="row">
                            <div class="col-12">
                              <h2 class="title">
                                Perfect Brand is Featured on
                              </h2>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row brand-active">
                      <div class="col-2">
                        <div class="brand-item">
                          <a href="#"
                            ><img
                              decoding="async"
                              src="wp-content/uploads/2022/09/brand_01.png"
                              alt=""
                          /></a>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="brand-item">
                          <a href="#"
                            ><img
                              decoding="async"
                              src="wp-content/uploads/2022/09/brand_02.png"
                              alt=""
                          /></a>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="brand-item">
                          <a href="#"
                            ><img
                              decoding="async"
                              src="wp-content/uploads/2022/09/brand_03.png"
                              alt=""
                          /></a>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="brand-item">
                          <a href="#"
                            ><img
                              decoding="async"
                              src="wp-content/uploads/2022/09/brand_04.png"
                              alt=""
                          /></a>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="brand-item">
                          <a href="#"
                            ><img
                              decoding="async"
                              src="wp-content/uploads/2022/09/brand_05.png"
                              alt=""
                          /></a>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="brand-item">
                          <a href="#"
                            ><img
                              decoding="async"
                              src="wp-content/uploads/2022/09/brand_06.png"
                              alt=""
                          /></a>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="brand-item">
                          <a href="#"
                            ><img
                              decoding="async"
                              src="wp-content/uploads/2022/09/brand_03.png"
                              alt=""
                          /></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- brand-area-end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
{% endblock content %}
