{% extends 'layouts/default.html' %} {% load static %} {% block content %}
<main class="main-area fix">
  <div
    data-elementor-type="wp-page"
    data-elementor-id="65"
    class="elementor elementor-65"
  >
    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-c80e885 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
      data-id="c80e885"
      data-element_type="section"
    >
      <div class="elementor-container elementor-column-gap-no">
        <div
          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e6bd24c"
          data-id="e6bd24c"
          data-element_type="column"
        >
          <div class="elementor-widget-wrap elementor-element-populated">
            <div
              class="elementor-element elementor-element-9f87d03 elementor-widget elementor-widget-hero-banner"
              data-id="9f87d03"
              data-element_type="widget"
              data-widget_type="hero-banner.default"
            >
              <div class="elementor-widget-container">
                {% include "components/main/banner.html" %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-c3ee463 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
      data-id="c3ee463"
      data-element_type="section"
    >
      <div class="elementor-container elementor-column-gap-no">
        <div
          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-fc5ad54"
          data-id="fc5ad54"
          data-element_type="column"
        >
          <div class="elementor-widget-wrap elementor-element-populated">
            <div
              class="elementor-element elementor-element-fef10f2 elementor-widget elementor-widget-brand"
              data-id="fef10f2"
              data-element_type="widget"
              data-widget_type="brand.default"
            >
              <div class="elementor-widget-container">
                {% include "components/main/companies-area.html" with companies=companies %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-105b343 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
      data-id="105b343"
      data-element_type="section"
    >
      <div class="elementor-container elementor-column-gap-no">
        <div
          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c61b202"
          data-id="c61b202"
          data-element_type="column"
        >
          <div class="elementor-widget-wrap elementor-element-populated">
            <div
              class="elementor-element elementor-element-976fda6 elementor-widget elementor-widget-products"
              data-id="976fda6"
              data-element_type="widget"
              data-widget_type="products.default"
            >
              <div class="elementor-widget-container">
                <section class="home-shop-area">
                  <div class="container">
                    <div class="row home-shop-active">

                      {% for product in products %}
                      {% include "components/products/product-home.html" with product=product %}
                      {% endfor %}
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-be24124 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
      data-id="be24124"
      data-element_type="section"
    >
      <div class="elementor-container elementor-column-gap-no">
        <div
          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-faa853f"
          data-id="faa853f"
          data-element_type="column"
        >
          <div class="elementor-widget-wrap elementor-element-populated">
            <div
              class="elementor-element elementor-element-9690b0f elementor-widget elementor-widget-formula"
              data-id="9690b0f"
              data-element_type="widget"
              data-widget_type="formula.default"
            >
              <div class="elementor-widget-container">
                {% include "components/main/about.html" %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include "components/main/blog-area.html" with posts=posts %}
  </div>
</main>
{% endblock content %} 
{% block scripts %}
<script src="{% static 'js/pages/main.js' %}"></script>
{% endblock scripts %}
