{% load static %}
{% load i18n %}

<section
  class="formula-area formula-bg"
  data-background="{% static 'images/main/about_bg.jpg' %}"
>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-0 order-lg-2">
        <div class="formula-img">
          <img
            decoding="async"
            src="{% static 'images/main/about.png' %}"
          />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="formula-content">
          <div class="section-title white-title mb-50">
            <h2 class="title">{% translate "About Us" %}</h2>
          </div>
          <p>
            {{about}}
          </p>
          <a
            href="{% url 'main:about' %}"
            target="_self"
            rel="nofollow"
            class="btn btn-two"
          >
            {% translate "More" %}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
